@charset "UTF-8";

menu {
    display: none;
}

header>span.material-symbols-outlined {
    display: block;
    position: absolute;
    left: 10px;
    top: 90px;
}

header>span.material-symbols-outlined:hover {
    cursor: pointer;
}

main {
    width: 400px;
}